:root {
  --details-color-1: #4bffa5;
  --details-color-2: #4bffa5;
}

/* CSS Home*/

.background-container {
  background-color: #1a1b24;
  height: 100vh;
  color: #ffffff;
}

.background-container > .content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.profile-image {
  display: inline-block;
  margin-left: 3em;
  vertical-align: middle;
  border: 0;
  display: inline-block;
  position: relative;
  height: 18rem;
  width: 18rem;
  overflow: hidden;
  border-radius: 100%;
  border: 3px solid var(--details-color-1);
}

.green-span {
  color: var(--details-color-1);
}

.profile-image > img {
  display: block;
  width: 100%;
}

.content > header {
  text-align: right;
}

h2 {
  font-size: 2.5em;
  margin: 0;
  line-height: 1.5em;
  letter-spacing: -0.025em;
  font-weight: 400;
  color: var(--details-color-1);
}

header > p {
  font-size: 1.25em;
  line-height: 1.75em;
  font-weight: 100;
}

/* CSS nav */

.container-navigation {
  background-color: #1a1b24;
  height: 3.5em;
  line-height: 3.5em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

#nav {
  position: absolute;

  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#button-resume {
  background-color: var(--details-color-2);
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  padding: 0 1.25em;
  height: 2em;
  display: inline-block;
  line-height: 2em;
}

#nav > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#nav > ul > li {
  list-style: none;
  margin: 0 0.7em;
}

#button-resume {
  color: #1a1b24;
  text-decoration: none;
  font-weight: 300;
}

#button-resume:hover {
  background-color: #85fcc0;
}

.header-pag-item {
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
}

.header-pag-item:hover {
  color: var(--details-color-2);
  cursor: pointer;
}

/* CSS About */
.main-section-about {
  background-image: url(../src/assets/img/programadorsentado.jpg);
}

.main-section-about > .section-container {
  right: 0;
  border: 0 solid;
  border-left-width: 0.35em;
  border-color: var(--details-color-2);
}

/* CSS University */

.main-section-university {
  background-image: url(../src/assets/img/unqui-salida.jpeg);
}

.main-section-university > .section-container {
  right: 0;
  border: 0 solid;
  border-left-width: 0.35em;
  border-color: var(--details-color-2);
}

/* CSS Programming */
.main-section-programming {
  background-image: url(../src/assets/img/computerprogramming2.jpg);
}

.main-section-programming > .section-container {
  left: 0;
  border: 0 solid;
  border-right-width: 0.35em;
  border-color: #5480f1;
}

/* CSS University */

.main-section-jobs {
  background-image: url(../src/assets/img/office-mrm.jpg);
}

.main-section-jobs > .section-container {
  right: 0;
  border: 0 solid;
  border-left-width: 0.35em;
  border-color: var(--details-color-2);
}

/* CSS Projects */

.container-projects {
  background-color: #313341;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-bottom: 4em;
  height: 95vh;
}

.container-projects > header {
  text-align: center;
  margin-top: 4em;
}

.container-projects > header > h2 {
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 1em 0;
  font-size: 2.2em;
}

.container-projects > header > p {
  color: #262626;
  font-weight: 300;
  margin: 0 0 1em 0;
  font-size: 1.2em;
}

.black-button {
  color: #262626;
  box-shadow: inset 0 0 0 1px #262626;
}

.projects-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

/* CSS Cards */

.card-container {
  background: #1a1b24;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 50vh;
  margin: 60px 30px 30px 30px;
  /* box-shadow: 4px 4px 4px 4px #ffffff; */
  color: white;
  /* border: 1px solid white; */
  border-radius: 5%;
  transition: all 0.5s ease-in-out;
}

.card-container:hover {
  transition: all 0.5s ease-in-out;
  margin-top: 30px;
  /* box-shadow: 4px 4px 4px 4px var(--details-color-2); */
}

.project-title {
  margin-top: 4px;
  font-size: 1.25em;
  color: var(--details-color-1);
}

.project-description {
  text-align: center;
  padding: 4px;
}

.card-buttons > a {
  margin: 16px 4px 4px 4px;
}

.card-image {
  width: 95%;
}

/* CSS Technologies */

.container-technologies {
  background-color: #1a1b24;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 6em;
}

.container-technologies > header {
  text-align: center;
  margin: 3.5em 0 0 0;
}

.container-technologies > header > h2 {
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 1em 0;
  font-size: 2.2em;
}

.container-technologies > header > p {
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 1em 0;
  font-size: 1.2em;
}

.separator-line {
  background-color: var(--details-color-2);
  height: 0.1em;
  width: 25em;
  margin: 3em 0 0 0;
}

.grid-technologies > .row {
  width: 70vw;
  display: flex;
  /* flex-wrap: wrap; */
  box-sizing: border-box;
  align-items: stretch;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

.grid-technologies > .row > section {
  text-align: center;
  width: 28%;
  color: #ffffff;
  padding-top: 2.5em;
  box-sizing: border-box;
  vertical-align: baseline;
  text-align: center;
}

.grid-technologies > .row > section > h3 {
  font-weight: 300;
  margin: 0 0 1em 0;
}

.grid-technologies > .row > section > p {
  font-weight: 100;
}

.grid-technologies > .row > section:hover {
  color: var(--details-color-1);
}

.technology > .icon {
  background: #272833;
  border-radius: 100%;
  display: inline-block;
  height: 6em;
  width: 6em;
  line-height: 5.65em;
  margin: 0 0 2em 0;
}

@media screen and (max-width: 980px) {
  .row > section {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .row > section {
    width: 100%;
  }
}

/* CSS Footer */
#footer {
  background-color: #272833;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18em;
}

.container-icons {
  display: flex;
}

.social-link {
  height: 2.5em;
  line-height: 2.5em;
  text-decoration: none;
  list-style: none;
  margin: 0 1.5rem;
}

.social-icon {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  transition: 0.5s;
}

.social-icon:hover {
  transition: 0.5s;
  filter: invert(72%) sepia(97%) saturate(301%) hue-rotate(87deg)
    brightness(280%) contrast(101%);
}

/* CSS general */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.content {
  background-color: #1a1b24;
  color: #ffffff;
}

.main-section {
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.section-container {
  background: rgba(23, 24, 32, 0.95);
  opacity: 1;
  position: absolute;
  vertical-align: baseline;
  color: rgba(255, 255, 255, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  top: 0;
  width: 28em;
}

.section-content {
  margin: 0 2rem;
}

.section-header > h2 {
  font-size: 2em;
  letter-spacing: -0.025em;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 1em 0;
  vertical-align: baseline;
}

.section-header > p {
  font-size: 1.25em;
  margin-top: -1em;
  color: #ffffff;
  position: relative;
  margin: 0 0 1.5em 0;
  vertical-align: baseline;
}

.section-text > p {
  margin: 0 0 2em 0;
  color: rgba(255, 255, 255, 0.75);
}

.transparent-button,
.goto-next,
.header-pag-item,
#button-resume {
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}

.transparent-button {
  background-color: transparent;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 300;
  height: 3em;
  line-height: 3em;
  padding: 0 2.25em;
  text-decoration: none;
  margin: 2.5em 0;
}

.white-button {
  box-shadow: inset 0 0 0 1px rgb(255 255 255 / 30%);
  color: #ffffff;
}

.transparent-button:hover {
  box-shadow: inset 0 0 0 1px var(--details-color-2);
  color: var(--details-color-2);
}

.goto-next {
  background-image: url(./assets/img/bottom-arrow.png);
  background-size: cover;
  width: 6em;
  height: 5em;
  position: absolute;
  z-index: 1;
  bottom: 2em;
  left: 47%;
}

.goto-next:hover {
  filter: invert(72%) sepia(97%) saturate(301%) hue-rotate(87deg)
    brightness(280%) contrast(101%);
}

.shadow-section {
  box-shadow: 0 0.25em 0.5em 0 rgb(0 0 0 / 25%);
  position: relative;
}

/* Css Contact */
#contact {
  height: 100vh;
  background-color: #1a1b24;
}

.form-container {
  margin-top: 70px;
  width: 70%;
}

.contact-form {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.input-form {
  outline-color: transparent;
  background-color: transparent;
  border-radius: 3px;
  border: 2px solid rgba(255, 255, 255, 0.05);
  width: 100%;
  line-height: 1;
  font-size: 18px;
  padding: 15px 20px;
  margin: 20px 0;
  transition: 0.5s;
}

.input-form:hover {
  border: 2px solid var(--details-color-2);
  transition: 0.5s;
}

.unstyle {
  all: unset;
}

#submit-contact-button {
  background-color: transparent;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 300;
  height: 3em;
  line-height: 3em;
  padding: 0 2.25em;
  text-decoration: none;
  margin: 2.5em 0;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05);
  color: #757575;
  transition: 0.5s;
}

#submit-contact-button:hover {
  box-shadow: inset 0 0 0 1px var(--details-color-2);
  color: var(--details-color-2);
  transition: 0.5s;
}

.back-to-home {
  transform: rotate(180deg);
}

/* CSS Resume */

.green-separator {
  background-color: var(--details-color-1);
}

.grid-resume {
  margin: 4em 0 6em 0;
  display: flex;
  color: #ffffff;
}

.grid-resume > .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.resume-title-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 53px;
  margin: 0 0 15px 0;
}

.resume-title {
  margin: 10px;
}

.resume-icon {
  filter: invert(76%) sepia(48%) saturate(541%) hue-rotate(90deg)
    brightness(103%) contrast(102%);
  margin: 0 0 0 3em;
}

.resume-item {
  width: 30rem;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 1px solid rgba(255, 255, 255, 0.07);
  transition: 0.5s;
}

.resume-item:hover {
  transition: 0.5s;
  background-color: var(--details-color-1);
}

.item-title {
  color: var(--details-color-1);
  transition: 0.5s;
}

.item-subtitle {
  color: #ffffff;
  transition: 0.5s;
}

.item-duration {
  margin: 8px 15px 2px 15px;
}

.item-text {
  margin: 4px 15px 4px 15px;
}

.item-duration,
.item-text {
  font-size: small;
  color: rgba(255, 255, 255, 0.75);
  transition: 0.5s;
}

.item-title,
.green-span,
.item-subtitle {
  margin: 6px 15px 6px 15px;
}

.resume-item:hover .item-title {
  color: #1a1b24;
  transition: 0.5s;
}

.resume-item:hover .item-subtitle {
  color: #1a1b24;
  transition: 0.5s;
}

.resume-item:hover .item-duration {
  color: #1a1b24;
  transition: 0.5s;
}

.resume-item:hover .item-text {
  color: #1a1b24;
  transition: 0.5s;
}
