/* CSS Home*/

.background-container {
  background-color: #1a1b24;
  height: 100vh;
  color: #ffffff;
}

.background-container > .content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.profile-image {
  display: inline-block;
  margin-left: 3em;
  vertical-align: middle;
  border: 0;
  display: inline-block;
  position: relative;
  height: 18rem;
  width: 18rem;
  overflow: hidden;
  border-radius: 100%;
}

.profile-image > img {
  display: block;
  width: 100%;
}

.content > header {
  text-align: right;
}

h2 {
  font-size: 2.5em;
  margin: 0;
  line-height: 1.5em;
  letter-spacing: -0.025em;
  font-weight: 400;
}

header > p {
  font-size: 1.25em;
  line-height: 1.75em;
  font-weight: 100;
}

/* CSS nav */

.container-navigation {
  background-color: #1a1b24;
  height: 3.5em;
  line-height: 3.5em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

#nav {
  position: absolute;
  right: 1em;
  top: 0;
}

#button-resume {
  background-color: #e44c65;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  padding: 0 1.25em;
  height: 2em;
  display: inline-block;
  line-height: 2em;
}

#nav > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#nav > ul > li {
  list-style: none;
  margin: 0 0.7em;
}

#button-resume {
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
}

#button-resume:hover {
  background-color: #e76278;
}

.header-pag-item {
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
}

.header-pag-item:hover {
  color: #e44c65;
}

/* CSS University */

.main-section-university {
  background-image: url(../src/assets/img/exterior2.jpg);
}

.main-section-university > .section-container {
  right: 0;
  border: 0 solid;
  border-left-width: 0.35em;
  border-color: #e44c65;
}

/* CSS Programming */
.main-section-programming {
  background-image: url(../src/assets/img/codellege-captura.jpg);
}

.main-section-programming > .section-container {
  left: 0;
  border: 0 solid;
  border-right-width: 0.35em;
  border-color: #5480f1;
}

/* CSS University */

.main-section-jobs {
  background-image: url(../src/assets/img/office-mrm.jpg);
}

.main-section-jobs > .section-container {
  right: 0;
  border: 0 solid;
  border-left-width: 0.35em;
  border-color: #e44c65;
}

/* CSS general */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.content {
  background-color: #1a1b24;
  color: #ffffff;
}

.main-section {
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.section-container {
  background: rgba(23, 24, 32, 0.95);
  opacity: 1;
  position: absolute;
  vertical-align: baseline;
  color: rgba(255, 255, 255, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  top: 0;
  width: 28em;
}

.section-content {
  margin: 0 2rem;
}

.section-header > h2 {
  font-size: 2em;
  letter-spacing: -0.025em;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 1em 0;
  vertical-align: baseline;
}

.section-header > p {
  font-size: 1.25em;
  margin-top: -1em;
  color: #ffffff;
  position: relative;
  margin: 0 0 1.5em 0;
  vertical-align: baseline;
}

.section-text > p {
  margin: 0 0 2em 0;
  color: rgba(255, 255, 255, 0.75);
}

.trasparent-button,
.goto-next,
.header-pag-item,
#button-resume {
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}

.trasparent-button {
  background-color: transparent;
  border-radius: 4px;
  border: 0;
  box-shadow: inset 0 0 0 1px rgb(255 255 255 / 30%);
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-weight: 300;
  height: 3em;
  line-height: 3em;
  padding: 0 2.25em;
  text-decoration: none;
  margin: 2.5em 0;
}

.trasparent-button:hover {
  box-shadow: inset 0 0 0 1px #e44c65;
  color: #e44c65;
}

.goto-next {
  background-image: url(./assets/img/bottom-arrow.png);
  background-size: cover;
  width: 6em;
  height: 5em;
  position: absolute;
  bottom: 2em;
  left: 47%;
  z-index: 1;
}

.goto-next:hover {
  background-color: #e44c65;
}

.shadow-section {
  box-shadow: 0 0.25em 0.5em 0 rgb(0 0 0 / 25%);
}
